page-view-doc{
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    div{
        background: white;
        height: auto;
        width: 90%;
        margin: auto;
        border-radius: 5px;
    }
}